.message-item {
  display: flex;
  margin: 8px 12px;
  justify-content: flex-end;

  &--content {
    max-width: 80%;
    padding: 8px 12px;
    color: #ffffff;
    background: #887efe;
    border-radius: 24px 0 24px 24px;
  }
}

@media screen and (min-width: 500px) {
  .message-item {
    margin: 8px 18px;

    &--content {
      max-width: 60%;
    }
  }
}